.info{
    padding: 100px  150px;
}
table{
    width: 400px;
    border-spacing: 40px;
    font-style: italic;
    padding: 50px;

}

th{
    text-align: left;
}

table, th,td {
    border: 1px  solid #000;
    border-collapse: collapse;
}

th , td{
    padding: 10px;
}

tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: chartreuse;

}
h1{
    font-style: italic;
color: aqua;
}
body{
    background-color: rgb(10, 10, 10);
}